<div class="main-content">
  <app-toast [message]="'hola'" [codigo]="200" *ngIf="true"></app-toast>
  <app-loading *ngIf="loading"></app-loading>
  <div class="modal-header d-flex justify-content-end">
    <h5 class="modal-title" id="exampleModalLabel"> Asignar Reporte</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-6 d-flex align-items-start flex-column"> 
                              <span class="ml-3"> Medidor </span>
                              <div class="dropdown m-2 col-12">
                                  <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                      <span *ngIf="medidorSeleccionado!=undefined">
                                          {{medidorSeleccionado.nombre}}
                                      </span>
                                      <b class="caret"></b>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li *ngFor="let med of medidores">
                                          <a (click)="changeMedidor(med)">
                                              {{med.nombre}}
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                            </div >
                          </div>

                          <div class="row">
                            <div class="col-6 d-flex align-items-start flex-column"> 
                              <span class="ml-3"> Personal </span>
                              <div class="dropdown m-2 col-12">
                                  <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                      <span *ngIf="personalSeleccionado!=undefined">
                                          {{personalSeleccionado.nombre}}
                                      </span>
                                      <b class="caret"></b>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li *ngFor="let p of personal">
                                          <a (click)="changePersonal(p)">
                                              {{p.nombre}}
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                            </div >
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Fecha de lectura
                            </div>
                            <div class="col-md-10">
                              <mat-form-field >
                                <input matInput [matDatepicker]="picker" (input)="lectura.fecha=$event.target.value" [(ngModel)]="lectura.fecha"  placeholder="Choose a date" (click)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 d-flex align-items-center justify-content-start">
                              <label class="m-2" for="activo">Lectura Periódica</label>
                              <input class="m-2" type="checkbox" id="activo" name="activo" value="activo" [(ngModel)]="lectura.activo">
                            </div>
                          </div>
  
                          <button mat-raised-button type="submit" class="btn btn-info btn-lg" (click)="guardar()">Asignar</button>
                          <button mat-raised-button type="submit" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>