
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">

          <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-around"> 
                <span> Categoria </span>
                <div class="dropdown">
                    <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                        <span *ngIf="categoriaSeleccionada!=undefined">
                            {{categoriaSeleccionada.nombre}}
                        </span>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let cat of categoria">
                            <a (click)="changeCategoria(cat)">
                                {{cat.nombre}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div >

           
            <mat-form-field class="col-2">
                <mat-label>fecha Inicio</mat-label>
                <input matInput [matDatepicker]="pickerInicioReport" placeholder="Choose a date" [(ngModel)]="fechaInicioReport">
                <mat-datepicker-toggle matSuffix [for]="pickerInicioReport"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicioReport></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-2">
                <mat-label>fecha Fin</mat-label>
                <input matInput [matDatepicker]="pickerFinReport" placeholder="Choose a date" [(ngModel)]="fechaFinReport">
                <mat-datepicker-toggle matSuffix [for]="pickerFinReport"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinReport></mat-datepicker>
            </mat-form-field>

            <div class="col">
            </div>
            
            <div  class="col-2">
                <button mat-raised-button class="btn btn-info"
                (click)="obtenerReportes()">
                    <span>Filtrar</span>
                </button>
            </div>
            
          </div>
          
          <div class="row">
              <!-- Tablas-->

            <div class="col-md-12">
                <div class="card">

                    <div class="row justify-content-end mt-1">
                        <div class="col-2">
                            <button mat-raised-button class="btn btn-danger"
                            (click)="verMapa()">
                                <span>Ver Mapa</span>
                            </button>
                        </div>
                      </div>
            
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        N° Reporte
                                    </th>
                                    <th class="col-3">
                                        Descripción
                                    </th>
                                    <th>
                                        Ubicación
                                    </th>
                                    <th>
                                        Prioridad
                                    </th>
                                    <th>
                                        Personal Asignado
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Fecha Creación
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data">
                                            <td class="text-center">
                                                {{item.id}}
                                            </td>
                                            <td class="col-3">
                                                {{item.descripcion}}
                                            </td>
                                            <td>
                                                <button mat-raised-button class="btn btn-danger btn-just-icon btn-round"
                                                    (click)="openModalMapa(item)">
                                                    <i class="material-icons">map</i>
                                                </button>
                                            </td>
                                            <td>
                                                {{item.prioridad}}
                                            </td>
                                            <td>
                                                {{item.personalAsignado}}
                                            </td>
                                            <td class="text-primary">
                                                {{item.estado}}
                                            </td>
                                            <td class="">
                                                {{item.fechaCreacion}}
                                            </td>
                                            <td class="">
                                                <button *ngIf="item.estado != 'Finalizados'" 
                                                 mat-raised-button class="btn btn-danger btn-just-icon btn-round"
                                                (click)="editarReporte(item)">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button class="btn btn-danger btn-just-icon btn-round"
                                                (click)="eliminarReporte(item)">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grafico-->
            <div class="col-lg-12 col-md-12">
                <div class="card card-line">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Duración promedio de pase de etapas</h4>
                    </div>
                    <div class="row mx-2 mt-2">
                        <mat-form-field class="col-4">
                            <mat-label>Etapas</mat-label>
                            <mat-select [formControl]="etapas" multiple>
                              <mat-option *ngFor="let topping of listaEtapas" [value]="topping">{{topping}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <div class="col-5">
                        </div>
                        <button mat-raised-button class="col-2 btn btn-danger"
                        (click)="filtrar()">
                            <span>Filtrar</span>
                        </button>
                    </div>
                    <div class="row linechart"></div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="card card-bar">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Reportes por Prioridad</h4>
                    </div>
                    <div class="row mx-2 mt-2">
                        <mat-form-field class="col-2">
                            <mat-label>fecha Inicio</mat-label>
                            <input matInput [matDatepicker]="pickerInicio" placeholder="Choose a date" [(ngModel)]="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                            <mat-datepicker #pickerInicio></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="col-2">
                            <mat-label>fecha Fin</mat-label>
                            <input matInput [matDatepicker]="pickerFin" placeholder="Choose a date" [(ngModel)]="fechaFin">
                            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFin></mat-datepicker>
                        </mat-form-field>
                        <div class="col-5">
                        </div>
                        <button mat-raised-button class="col-2 btn btn-danger"
                        (click)="filtrarPrioridad()">
                            <span>Filtrar</span>
                        </button>
                    </div>
                    <div class="promPrioridad"></div>

                </div>
            </div>
          </div>
      </div>
  </div>
</div>
