<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-md-12">
                              Nombres
                            </div>
                              <div class="col-md-10">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombres" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Apellidos
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Apellidos" type="text">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Correo Electrónico
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Correo electrónico" type="email">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Contraseña
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Actualizar contraseña" type="password">
                              </mat-form-field>
                            </div>
                          </div>
 
                          <button mat-raised-button type="submit" class="btn btn-danger btn-lg">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
