<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-md-12">
                              Nombres
                            </div>
                              <div class="col-md-10">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombres" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Apellidos
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Apellidos" type="text">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Correo Electrónico
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Correo electrónico" type="email">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              Contraseña
                            </div>
                            <div class="col-md-10">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Actualizar contraseña" type="password">
                              </mat-form-field>
                            </div>
                          </div>
 
                          <button mat-raised-button type="submit" class="btn btn-danger btn-lg">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
