<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex align-items-center justify-content-around"> 
            <span> Categoria </span>
            <div class="dropdown">
                <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                    <span *ngIf="categoriaSeleccionada!=undefined">
                        {{categoriaSeleccionada.nombre}}
                    </span>
                    <b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let cat of categoria">
                        <a (click)="changeCategoria(cat)">
                            {{cat.nombre}}
                        </a>
                    </li>
                </ul>
            </div>
        </div >

        <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Buscar Usuario"
              [(ngModel)]="personalBusqueda"
              (ngModelChange)="buscarPersonal()"
              >
              
            </mat-form-field>
        </div>

        <div class="col-2 mr-3">
            <button mat-raised-button class="btn btn-info"
            (click)="modalLectura()">
                        
                <i class="material-icons">add</i>
                        Agregar Lectura
            </button>
        </div>

        <div class="col-2">
            <button mat-raised-button class="btn btn-info"
            (click)="modalMedidor()">
                <i class="material-icons">add</i>
                <span>Agregar Medidor</span>
            </button>
        </div>
        
      </div>
      <div class="row">

          <!-- Tablas-->

        <div class="col-md-12 ">
            <div class="card">

                <div class="card-body">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Fecha última lectura
                                </th>
                                <th>
                                    Ultima Lectura
                                </th>
                                <th>
                                    Fecha creación
                                </th>
                                <th>
                                    Fecha proxima lectura
                                </th>
                                <th>
                                    Personal asignado
                                </th>
                                <th>
                                    Repetición de lectura
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataView">
                                    <ng-container >
                                        <td>
                                            {{item.id}}
                                        </td>
                                        <td>
                                            {{item.fechaUltimaLectura ?? 'Sin lectura'}}
                                        </td>
                                        <td>
                                            {{item.ultimaLectura ?? 'Sin lectura'}}
                                        </td>
                                        <td class="text-primary">
                                            {{item.fechaCreacion}}
                                        </td>
                                        <td class="">
                                            {{item.fechaProximaLectura ?? 'Sin lectura'}}
                                        </td>
                                        <td class="">
                                            {{item.personal}}
                                        </td>
                                        <td *ngIf="item.repeticion; else noRepeticion">
                                            Cada {{item.repeticion}} días
                                        </td>
                                        <ng-template #noRepeticion>
                                            <td>
                                                No
                                            </td>
                                        </ng-template>
                                        <td class="td-actions text-center justify-content-between">
                                            <button type="button" rel="tooltip" class="btn btn-warning"
                                            (click)="modalLectura(item)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger"
                                            (click)="eliminarLectura(item)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>

        <!-- Grafico-->
        <div class="col-lg-12 col-md-12">
            <div class="card card-line">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Evolución del medidor</h4>
                </div>
                <div class="row mt-2 mt-2">
                    <div class="col-3 d-flex align-items-center justify-content-around"> 
                        <div class="dropdown">
                            <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                <span *ngIf="medidorSeleccionado!=undefined">
                                    {{medidorSeleccionado.nombre}}
                                </span>
                                <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let med of listaMedidores">
                                    <a (click)="changeMedidor(med)">
                                        {{med.nombre}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <mat-form-field class="col-2">
                        <mat-label>fecha Inicio</mat-label>
                        <input matInput [matDatepicker]="pickerInicio" placeholder="Choose a date" [(ngModel)]="fechaInicio">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>fecha Fin</mat-label>
                        <input matInput [matDatepicker]="pickerFin" placeholder="Choose a date" [(ngModel)]="fechaFin">
                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFin></mat-datepicker>
                    </mat-form-field>
                    <div class="col-2">
                    </div>
                    <button mat-raised-button class="col-2 btn btn-danger"
                    (click)="filtrarPrioridad()">
                        <span>Filtrar</span>
                    </button>
                </div>
            <div class="row linechart"></div>

            </div>
        </div>

      </div>
  </div>
</div>
