<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex align-items-center justify-content-around"> 
            <span> Categoria </span>
            <div class="dropdown">
                <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                    <span *ngIf="categoriaSeleccionada!=undefined">
                        {{categoriaSeleccionada.nombre}}
                    </span>
                    <b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let cat of categoria">
                        <a (click)="changeCategoria(cat)">
                            {{cat.nombre}}
                        </a>
                    </li>
                </ul>
            </div>
        </div >

        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Buscar Usuario"
              [(ngModel)]="personalBusqueda"
              (ngModelChange)="buscarPersonal()"
              >
              
            </mat-form-field>
        </div>

        <div class="col-2">
            <button mat-raised-button class="btn btn-info">
                <i class="material-icons">add</i>
                        Agregar Lectura
            </button>
        </div>

        <div class="col-2">
            <button mat-raised-button class="btn btn-info">
                <i class="material-icons">add</i>
                <span>Agregar Medidor</span>
            </button>
        </div>
        
      </div>
      <div class="row">

          <!-- Tablas-->

        <div class="col-md-12 ">
            <div class="card">

                <div class="card-body">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Fecha última lectura
                                </th>
                                <th>
                                    Ultima Lectura
                                </th>
                                <th>
                                    Fecha creación
                                </th>
                                <th>
                                    Fecha proxima lectura
                                </th>
                                <th>
                                    Personal asignado
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataView">
                                    <ng-container *ngIf="categoriaSeleccionada && item.categoria == categoriaSeleccionada.id">
                                        <td>
                                            {{item.id}}
                                        </td>
                                        <td>
                                            {{item.descripcion}}
                                        </td>
                                        <td>
                                            {{item.fechaUltimaLectura}}
                                        </td>
                                        <td>
                                            {{item.ultimaLectura}}
                                        </td>
                                        <td class="text-primary">
                                            {{item.fechaCreacion}}
                                        </td>
                                        <td class="">
                                            {{item.fechaProximaLectura}}
                                        </td>
                                        <td class="">
                                            {{item.personal}}
                                        </td>
                                        <td class="td-actions text-center justify-content-between">
                                            <button type="button" rel="tooltip" class="btn btn-warning">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header card-chart card-header-warning">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <h4 class="card-title">Evolución del medidor</h4>
                    <div class="dropdown">
                        <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                            <span *ngIf="medidorSeleccionado!=undefined">
                                {{medidorSeleccionado.nombre}}
                            </span>
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let medidor of medidores">
                                <a (click)="setDataChart(medidor)">
                                    {{medidor.nombre}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>


      </div>
  </div>
</div>
