<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div *ngFor="let card of reportes" class="col-lg-4 col-md-6 col-sm-6">
              <div  class="card card-stats" [ngClass]="{'card-primary': card.color == 'total', 'card-warning': card.color == 'no-asignados', 'card-success': card.color == 'finalizados'}">
                <div class="card-header card-header-icon card-header-primary d-flex justify-content-start">
                   
                    <h4 class="card-title" style="font-size: 20px; color:#fff">{{card.titulo}}</h4>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="card-icon">
                        <i class="material-icons" style="font-size: 60px;">assignment</i>
                      </div>
                    <span style="font-size: 35px;">{{card.cantidad}}</span>
                </div>
              </div>
          </div>
          
        
      </div>
      <div class="row">


        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Ultimos reportes</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Ubicacion</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reporte of ultimosReportes">
                                <td>{{reporte.fecha}}</td>
                                <td>{{reporte.hora}}</td>
                                <td>{{reporte.ubicacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Reportes Por Meses</h4>
                </div>
                <div class="card-body table-responsive h-200">
                    <div class="ct-chart" id="websiteViewsChart"></div>

                </div>
            </div>
        </div>

          
      </div>

  </div>
</div>
